---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import TopImage from "/top.avif";
import Footer from "../components/Footer.astro";
---

<Layout title="美容室success">
  <main>
    <img
      class="centered-image"
      src={TopImage}
      alt="美容室successのトップ画像"
      width="75%"
    />
    <menu>
      <ul role="list" class="link-card-grid">
        <Card href="/concept" title="Concept" body="" />
        <Card href="/price" title="menu・price" body="" />
        <Card
          href="/straight"
          title="酸性ストレート"
          body="髪のパサつきや艶のなさを解決する、ワンランク上のストレート技術"
        />
        <Card href="/head-spa" title="ヘッドスパ" body="" />
        <Card href="/eyelash" title="まつ毛パーマ" body="" />
        <Card href="dressing" title="着付け・成人式" body="" />
      </ul>
      <Footer />
    </menu>
  </main>
</Layout>

<style>
  .top-content {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1.5rem;
    max-width: 100ch;
  }

  .centered-image {
    width: 75%;
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 100ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33ch, 1fr));
    gap: 1rem;
    padding: 0;
  }

  @media screen and (max-width: 768px) {
    .centered-image {
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    main {
      margin: auto;
      max-width: 100ch;
      padding: 0;
    }
    menu {
      margin: auto;
      padding: 1.5rem;
      max-width: 100ch;
    }
  }
</style>
