---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import TopImage from "/top.png";
import Footer from "../components/Footer.astro";
---

<Layout title="美容室サクセス">
	<span class="top-content">
		<img
			src={TopImage}
			alt="Before/Afterの画像"
			width="100%"
			style="display: block; margin: auto; opacity: 0.75;"
		/>
		<h1 class="img-text">美容室サクセス</h1>
	</span>
	<main>
		<a href="/concept">
			<h3>Concept</h3>
		</a>
		<ul role="list" class="link-card-grid">
			<Card href="/price" title="メニュー・値段" body="" />
			<Card
				href="/straight"
				title="酸性ストレート"
				body="髪のパサつきや艶のなさを解決する、ワンランク上のストレート技術"
			/>
			<Card href="/head-spa" title="ヘッドスパ" body="" />
			<Card href="/eyelash" title="まつ毛カール" body="" />
			<Card href="dressing" title="着付け・成人式" body="" />
		</ul>
		<Footer />
	</main>
</Layout>

<style>
	.top-content {
		position: relative;
		text-align: center;
		display: inline-block;
		background-color: black;
	}

	.img-text {
		position: absolute;
		top: 5%;
		left: 5%;
		font-size: 2rem;
		color: rgb(255, 255, 255);
	}

	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 100ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(33ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
