---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import TopImage from "/top.png";
---

<Layout title="美容室サクセス">
	<span class="top-content">
		<img
			src={TopImage}
			alt="Before/Afterの画像"
			width="100%"
			style="display: block; margin: auto; opacity: 0.55;"
		/>
		<h1 class="img-text">美容室サクセス</h1>
	</span>
	<main>
		<a href="/concept">
			<h3>Concept</h3>
		</a>
		<a href="/access">
			<h3>サロン・アクセス情報</h3>
		</a>
		<a href="https://lin.ee/uZbY0uQ">
			<h3>LINEでの予約はこちらから</h3>
		</a>

		<ul role="list" class="link-card-grid">
			<Card href="/price" title="メニュー・値段" body="" />
			<Card
				href="https://kashimashi-success.jimdofree.com/%E9%85%B8%E6%80%A7%E3%82%B9%E3%83%88%E3%83%AC%E3%83%BC%E3%83%88/"
				title="酸性ストレート"
				body="何をしても、パサついて、艶のない髪を解決できる。\nワンランク上のストレートを、用意しております。"
			/>
			<Card
				href="https://kashimashi-success.jimdofree.com/%E3%83%98%E3%83%83%E3%83%89%E3%82%B9%E3%83%91/"
				title="ヘッドスパ"
				body=""
			/>
			<Card
				href="https://kashimashi-success.jimdofree.com/%E3%81%BE%E3%81%A4%E6%AF%9B%E3%82%AB%E3%83%BC%E3%83%AB/"
				title="まつ毛カール"
				body=""
			/>
			<Card
				href="https://kashimashi-success.jimdofree.com/%E7%9D%80%E4%BB%98%E3%81%91-%E6%88%90%E4%BA%BA%E5%BC%8F/"
				title="着付け・成人式"
				body=""
			/>
		</ul>
	</main>
</Layout>

<style>
	.top-content {
		position: relative;
		text-align: center;
		display: inline-block;
		background-color: black;
	}

	.img-text {
		position: absolute;
		top: 5%;
		left: 5%;
		font-size: 2rem;
		color: rgb(255, 255, 255);
	}

	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 100ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(33ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
