---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="美容室サクセス">
    <main>
        <a href="/">
            <h3>Topへ</h3>
        </a>
        <h2 class="h2-body">Concept</h2>
        <p class="body">
            夫婦で営んで26年目になります。<br />
            長年の経験したことを活かして、お客様に 喜ばれることと、丁寧を心がけております。<br
            /><br />
            パサつく髪、癖毛、痛んだ髪、かぶれる方に 応えられるように心がけております。<br
            />
            自宅でも、お手入れしやすいように施術を行なっております。 <br /><br
            />
            お客様の髪のお悩みを解決し最善の、ご提案ができるように、数多くのメニューを、ご用意しております。<br
            /><br />
            何をしても、パサつく、痛んだ髪で、どうしようもない、縮毛矯正で、真っ直ぐにしたくない<br
            />
            そんな方へ、髪に優しい酸性ストレートがございます。 <br /><br
            />髪を痛ませない技術にこだわり、髪をより良い環境へと導きます。<br />
            ヘッドスパは、特殊な水を使用するヘッドスパと無水、ドライヘッドスパがございます。
        </p>
        <br />
        <hr />
        <br />
        <h2 class="h2-body">スタッフ紹介</h2>
        <img
            src="owner.png"
            alt="Ownerの画像"
            style="display: block;"
            width="50%"
        />
        <p class="body">
            美容師歴33年目になりました。<br /> 2人の孫もいて、 <br
            />すっかりおじいちゃんになりました。<br /> 常に新しい技術を学んでいて
            <br />施術は、丁寧にいたしております。 <br
            />カットやパーマを写真通りに再現するのが得意です。
        </p>
        <br />
        <hr />
        <br />
        <img
            src="staff.png"
            alt="Staffの画像"
            style="display: block;"
            width="50%"
        />
        <p class="body">
            常に丁寧な施術の提供を心がけております。<br />
            酸性ストレート、スパ系が得意です。
        </p>
        <a href="/">
            <h3>Topへ</h3>
        </a>
    </main>
</Layout>
<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 100ch;
    }
    .h2-body {
        color: #383838;
    }
    .body {
        font-size: 1rem;
        color: #383838;
        font-weight: bold;
    }
</style>
