---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
---

<Layout title="美容室サクセス">
    <main>
        <a href="/">
            <h3>Topへ</h3>
        </a>
        <h2 class="h2-body">Concept</h2>
        <p class="body">
            当店は、夫婦で営んで26年目を迎える美容室です。長年にわたる経験を活かし、お客様に喜んでいただけるよう、丁寧なサービスを提供しています。
            <br /><br />
            私たちは、パサつく髪や癖毛、痛んだ髪、またかぶれる方にも対応できるよう、技術の向上とお客様とのコミュニケーションに力を入れています。自宅でもお手入れしやすいように施術を行ない、お客様の髪のお悩みを解決するため、豊富なメニューをご用意しています。
            <br /><br />
            特に、パサつく髪や痛んだ髪、縮毛矯正で真っ直ぐにしたくない方には、髪に優しい酸性ストレートをご提案しています。
            <br /><br />
            髪を痛めない技術にこだわり、お客様の髪をより良い環境へと導きます。 また、ヘッドスパにも力を入れており、特殊な水を使用するヘッドスパや、無水、ドライヘッドスパなど、様々な種類をご用意しています。お客様にリラックスしていただけるよう、心をこめたサービスを提供しています
        </p>
        <br />
        <hr />
        <br />
        <h2 class="h2-body">スタッフ紹介</h2>
        <img
            src="owner.png"
            alt="Ownerの画像"
            style="display: block;"
            width="50%"
        />
        <p class="body">
            美容師歴33年目。2人の孫もいて、すっかりおじいちゃんになりました。
            <br /><br />
            常に新しい技術を学び、施術には丁寧さを大切にし、お客様に満足いただけるように努めています。
            <br /><br />
            カットやパーマを写真通りに再現するのが得意で、お客様のイメージに合わせて、スタイルをご提案いたします。
        </p>
        <br />
        <hr />
        <br />
        <img
            src="staff.png"
            alt="Staffの画像"
            style="display: block;"
            width="50%"
        />
        <p class="body">
            酸性ストレートやスパ系が得意です。
            <br /><br />
            酸性ストレートは髪に優しく、自然な仕上がりを実現できます。
            <br /><br />
            また、リラックスしていただけるよう、様々な種類のヘッドスパをご用意しています。
        </p>
        <Footer />
    </main>
</Layout>
<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 100ch;
    }
    .h2-body {
        color: #383838;
    }
    .body {
        font-size: 1rem;
        color: #383838;
        font-weight: bold;
    }
</style>
