---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			content="美容室successのホームページ 茨城県鹿嶋市小山1072-88"
		/>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: "Mplus 1p";
		background-color: #f6f6f6;
	}
	body {
		margin: 0;
		color: #383838;
	}
	code {
		font-family: "Mplus 1p";
	}
	a {
		outline: none;
		-webkit-tap-highlight-color: transparent;
	}
</style>
