---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer";
---

<Layout title="ヘッドスパ">
  <main>
    <a href="/">
      <h3>Topへ</h3>
    </a>
    <h2 class="h2-body">ドライヘッドスパ</h2>
    <img
      src="https://images.success-salon.haton14.com/head-spa/dry-spa1.avif"
      alt="ドライヘッドスパ1の画像"
      style="display: block;"
      width="50%"
    />
    <p class="body">
      「ドライヘッドスパ」とは、水やオイルを使用せずに手技のみで頭部をもみほぐすことにより、血行を促進し、睡眠を誘発するヘッドマッサージのことです。

      <br />
      ツボ押しや指圧とは異なり、頭皮の筋肉をもみほぐすことで効果を発揮します。
    </p>
    <br />
    <img
      src="https://images.success-salon.haton14.com/head-spa/dry-spa2.avif"
      alt="ドライヘッドスパ2の画像"
      style="display: block;"
      width="50%"
    />
    <p class="body">
      目の周り、こめかみ、後頭部、側頭部をもみほぐします。
      <br />
      指で頭を触って上下に動かない場合は、筋肉が固まっている可能性があります。
      <br />
      頭皮の筋肉が硬くなると、弾力がなくなり、顔の筋肉にも影響を与え、ハリやたるみの原因になることがあります。
    </p>
    <br />
    <img
      src="https://images.success-salon.haton14.com/head-spa/bed.avif"
      alt="ベッドの画像"
      style="display: block;"
      width="50%"
    />
    <p class="body">
      ベッドでの施術になります。
      <br />
      頭皮のこりや目の疲れでお困りの方は、ぜひ極上の癒しを体感してください。
      <br />
      頭皮への施術で、心身ともにリラックスできます。
    </p>
    <br />
    <p class="body">
      30分:
      <br />&emsp;3,000円(税込)
      <br /><br />
      60分:
      <br />&emsp;5,000円(税込)
      <br /><br />
      5回目のご来店で「10分プラス 」サービスいたします。
    </p>
    <br />
    <h3>☆注意事項☆</h3>
    <p class="body">
      ⚪︎ 何かを治すものではありません。ヘッドリラクゼーションです。
      <br />
      ⚪︎ 女性限定。
      <br /><br /><br />
      当サロンでのヘッドスパ担当者は、<br />
      頭のスペシャリスト資格『ヘッドマイスター』取得者です。<br />
      <br />
      個室のお部屋で女性スタッフが、特殊技術で行っております。<br />
      <br />
      頭皮を柔らかくしされたい方、<br />
      深い絶頂睡眠を体験したい方は、ぜひお越し下さいませ。<br
      />
    </p>
    <img
      src="https://images.success-salon.haton14.com/head-spa/meister.avif"
      alt="ヘッドマイスター資格の画像"
      style="display: block;"
      width="50%"
    />
    <br />
    <img
      src="https://images.success-salon.haton14.com/head-spa/review.avif"
      alt="ヘッドスパの感想まとめ"
      style="display: block;"
      width="50%"
    />
    <hr />
    <br />
    <h2 class="h2-body">水のヘッドスパ</h2>
    <img
      src="https://images.success-salon.haton14.com/head-spa/water-spa.avif"
      alt="水のヘッドスパの画像"
      style="display: block;"
      width="50%"
    />
    <p class="body">
      水のヘッドスパは、特殊なお水を使用し、高めの温度で15分間のマッサージを行います。シャンプーでは落としきれない頭皮の汚れを取り除くことができます。

      <br />
      施術終了後には、お客様自身でも汚れを確認することができます。
      <br />
      また、頭皮の水分補給も同時に行いますので、髪も艶々サラサラになります。
    </p>
    <br />
    <p class="body">
      15分:
      <br />&emsp;2,750円(税込)
    </p>
    <p style=" font-size: 1rem; color: #383838;">
      ※ロング、毛量が多い方は500円プラスになります。
    </p>
    <br />
    <Footer />
  </main>
</Layout>
<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 100ch;
  }
  .h2-body {
    color: #383838;
  }
  .body {
    font-size: 1rem;
    color: #383838;
    font-weight: bold;
  }
</style>
