---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="美容室サクセス">
    <main>
        <a href="/">
            <h3>Topへ</h3>
        </a>
        <h2 class="h2-body">ドライヘッドスパ</h2>
        <img
            src="dry-spa1.png"
            alt="ドライヘッドスパ1の画像"
            style="display: block;"
            width="50%"
        />
        <p class="body">
            「ドライヘッドスパ」とは、水やオイルを使用せずに手技のみで頭部をもみほぐすことにより、血行を促進し、睡眠を誘発するヘッドマッサージのことです。
            <br />
            ツボ押しや指圧とは異なり、頭皮の筋肉をもみほぐすことで効果を発揮します。
        </p>
        <img
            src="dry-spa2.png"
            alt="ドライヘッドスパ2の画像"
            style="display: block;"
            width="50%"
        />
        <p class="body">
            目の周り、こめかみ、後頭部、側頭部をもみほぐします。
            <br />
            指で頭を触って上下に動かない場合は、筋肉が固まっている可能性があります。
            <br />
            頭皮の筋肉が硬くなると、弾力がなくなり、顔の筋肉にも影響を与え、ハリやたるみの原因になることがあります。
        </p>
        <img
            src="bed.png"
            alt="ベッドの画像"
            style="display: block;"
            width="50%"
        />
        <p class="body">
            ベッドでの施術になります。
            <br />
            頭皮のこりや目の疲れでお困りの方は、ぜひ極上の癒しを体感してください。
            <br />
            頭皮への施術で、心身ともにリラックスできます。
        </p>
        <h2 class="h2-body">スタッフ紹介</h2>
        <img
            src="owner.png"
            alt="Ownerの画像"
            style="display: block;"
            width="50%"
        />
        <p class="body">
            美容師歴33年目になりました。<br /> 2人の孫もいて、 <br
            />すっかりおじいちゃんになりました。<br /> 常に新しい技術を学んでいて
            <br />施術は、丁寧にいたしております。 <br
            />カットやパーマを写真通りに再現するのが得意です。
        </p>
        <br />
        <hr />
        <br />
        <img
            src="staff.png"
            alt="Staffの画像"
            style="display: block;"
            width="50%"
        />
        <p class="body">
            常に丁寧な施術の提供を心がけております。<br />
            酸性ストレート、スパ系が得意です。
        </p>
        <a href="/">
            <h3>Topへ</h3>
        </a>
    </main>
</Layout>
<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 100ch;
    }
    .h2-body {
        color: #383838;
    }
    .body {
        font-size: 1rem;
        color: #383838;
        font-weight: bold;
    }
</style>
