---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
---

<Layout title="酸性ストレート">
    <main>
        <a href="/">
            <h3>Topへ</h3>
        </a>
        <h2 class="h2-body">癖毛、パサつきでお困りの方へ</h2>
        <p class="body">
            ⚪︎「何度も縮毛矯正を施術して痛めた方」
            <br /><br />
            ⚪︎「針金のように真っ直ぐになりたくない方」
            <br /><br />
            ⚪︎「自然な仕上がりを求める方」
            <br /><br />
            ⚪︎「ハリやコシがない方」
            <br /><br />
            何をしてもパサついて艶のない髪を解決できる、ワンランク上のストレートをご用意しております。
            <br /><br />
            縮毛矯正で痛んだ髪も修復します。
            <br /><br />
            酸性ストレートは、繰り返し施術すると髪が硬くなることがありますが、当店の酸性ストレートは何度施術しても自然な仕上がりを保ちます。
            当店では他にはない特別な薬剤を使用しており、髪に潤いやハリを与え、持続性があり長持ちするストレートを提供しています。
        </p>
        <br />
        <hr />
        <br />
        <p class="body">
            ショート:
            <br />&emsp;19,800円(税込)
            <br /><br />
            ミディアム:
            <br />&emsp;22,000円(税込)
            <br /><br />
            ロング:
            <br />&emsp;24,200円(税込)
            <br />
        </p>
        <p style=" font-size: 1rem; color: #383838;">※それぞれカット込みです</p>
        <br />
        <h3>メンズショート</h3>
        <img
            src="straight-short-men.avif"
            alt="メンズの画像"
            style="display: block;"
            width="70%"
        />
        <br />
        <h3>ショート</h3>
        <img
            src="straight-short.avif"
            alt="ショートの画像"
            style="display: block;"
            width="70%"
        />
        <br />
        <h3>セミロング</h3>
        <img
            src="straight-semi-long-1.avif"
            alt="セミロング1の画像"
            style="display: block;"
            width="70%"
        />
        <br />
        <img
            src="straight-semi-long-2.avif"
            alt="セミロング2の画像"
            style="display: block;"
            width="70%"
        />
        <br />
        <h3>ロング</h3>
        <img
            src="straight-long-1.avif"
            alt="ロング1の画像"
            style="display: block;"
            width="70%"
        />
        <br />
        <img
            src="straight-long-2.avif"
            alt="ロング2の画像"
            style="display: block;"
            width="70%"
        />
        <Footer />
    </main>
</Layout>
<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 100ch;
    }
    .h2-body {
        color: #383838;
    }
    .body {
        font-size: 1rem;
        color: #383838;
        font-weight: bold;
    }
</style>
