---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
---

<Layout title="酸性ストレート">
  <main>
    <a href="/">
      <h3>Topへ</h3>
    </a>
    <h2 class="h2-body">くせ毛・パサつきでお困りの方へ</h2>
    <p class="body">
      〜当店はsins酸性ストレートを提供しております〜
      <br /><br />
      ⚪︎ 何度も縮毛矯正を施術して傷めた方
      <br /><br />
      ⚪︎ 針金のように真っ直ぐになりたくない方
      <br /><br />
      ⚪︎ 自然な仕上がりを求める方
      <br /><br />
      ⚪︎ ハリやコシがない方
      <br /><br />
      何をしてもパサついて艶がなくまとまりにくい髪や、傷んだ髪質、どんなくせ毛でも、当店では全てサラ艶な髪に仕上げます。
      <br /><br />
      また、縮毛矯正で傷んだ髪もしっかりと修復します。
      <br /><br />
      酸性ストレートでどんなくせ毛もサラサラに仕上げます。
      <br /><br />
      当店の酸性ストレートは、繰り返し施術しても自然で柔らかな仕上がりを保ちます。
      <br />
      酸性ストレートを繰り返すことで髪が硬くなることを心配される方もいますが、当店では他にない特別な薬剤を使用しており、髪に潤いやハリを与え、長持ちするストレートヘアを実現します。
      <br /><br />
      ＊当店では酸性ストレートを行う場合、ヘアカラーを行なってから一ヶ月以上経過しての施術になります。
      一ヶ月以内ですと、ヘアカラーの薬剤に含まれるアルカリが髪に残っているため、アルカリストレートとなってしまいます。

      <br />
      (ヘナ、マニキュア等は除く)
    </p>
    <br />
    <hr />
    <br />
    <p class="body">
      ショート:
      <br />&emsp;19,800円(税込)
      <br /><br />
      ミディアム:
      <br />&emsp;22,000円(税込)
      <br /><br />
      ロング:
      <br />&emsp;24,200円(税込)
      <br />
    </p>
    <p style=" font-size: 1rem; color: #383838;">＊シャンプー、ブロー、カット込み</p>
    <br />
    <h3>メンズショート</h3>
    <img
      src="https://images.success-salon.haton14.com/straight/straight-short-men.avif"
      alt="メンズの画像"
      style="display: block;"
      width="70%"
    />
    <br />
    <h3>ショート</h3>
    <img
      src="https://images.success-salon.haton14.com/straight/straight-short.avif"
      alt="ショートの画像"
      style="display: block;"
      width="70%"
    />
    <br />
    <h3>セミロング</h3>
    <img
      src="https://images.success-salon.haton14.com/straight/straight-semi-long-1.avif"
      alt="セミロング1の画像"
      style="display: block;"
      width="70%"
    />
    <br />
    <img
      src="https://images.success-salon.haton14.com/straight/straight-semi-long-2.avif"
      alt="セミロング2の画像"
      style="display: block;"
      width="70%"
    />
    <br />
    <h3>ロング</h3>
    <img
      src="https://images.success-salon.haton14.com/straight/straight-long-1.avif"
      alt="ロング1の画像"
      style="display: block;"
      width="70%"
    />
    <br />
    <img
      src="https://images.success-salon.haton14.com/straight/straight-long-2.avif"
      alt="ロング2の画像"
      style="display: block;"
      width="70%"
    />
    <Footer />
  </main>
</Layout>
<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 100ch;
  }
  .h2-body {
    color: #383838;
  }
  .body {
    font-size: 1rem;
    color: #383838;
    font-weight: bold;
  }
</style>
