---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer";
---

<Layout title="酸性ストレート">
  <main>
    <a href="/">
      <h3>Topへ</h3>
    </a>
    <h2 class="h2-body">
      &emsp;くせ毛、パサつき<br />
      まとまらない髪質で<br />
      &emsp;&emsp;お困りの方へ<br />
    </h2>
    <img
      src="https://images.success-salon.haton14.com/straight/straight-top.avif"
      alt="メンズの画像"
      style="display: block;"
      width="70%"
    />
    <h2 class="h2-body">
      <br />
      当店はsins酸性ストレートを<br />
      &emsp;&emsp;&emsp;提供しております
    </h2>

    <p class="body">
      <br /><br />
      ♢ 何度も縮毛矯正を施術して傷めた方<br />
      <br />
      ♢ 針金のように真っ直ぐに、なりたくない方<br />
      <br />
      ♢ 自然な仕上がりを求める方<br />
      <br />
      ♢ ハリがあり、艶々な髪質になりたい方<br />
      <br />
      何をしてもパサついて艶がなくまとまりにくい髪や、<br />
      縮毛矯正で傷んだ髪も修復、<br />
      どんなくせ毛でもサラサラに、<br />
      仕上げます。<br />
      （ブリーチ毛で極端に傷めた方は、お断りしております）<br />
      <br />
      <br />
      酸性ストレートを繰り返すことで、<br />
      髪質が硬くなることをご心配される方も<br />
      いらっしゃるかもしれませんが、<br />
      <br />
      当店のsins酸性ストレートでは、<br />
      繰り返し施術なさっても、<br />
      自然で柔らかな仕上げを保ちます。<br />
      <br />
      <br />
      また、一人一人に合わせて調合し、<br />
      特別なワンラク上の薬剤で、<br />
      施術いたしております。<br />
      <br />
      <br />
      薬剤技術が数ヶ月毎に向上しているため、<br />
      毎回最高の技術で、<br />
      ご満足いただけるように行なっております。<br />
      <br />
      <br />
      当店ではsins酸性ストレートを茨城県で一番最初に導入しております。<br />
      施術を多くのお客様にご提供した実績がありますので、安心してお任せください。<br
      />
      <br />
      <br />
      ＊当店では、<br />
      sins酸性ストレートを行う場合、<br />
      ヘアカラーを行なってから、<br />
      1ヶ月以上経過してからの施術となります。<br />
      <br />
      一ヶ月以内ですと、<br />
      ヘアカラーの薬剤に含まれているアルカリが、<br />
      髪に残っているためアルカリストレートになるからです。<br />
      （ヘナ、マニキュア等は除く）<br />
    </p>
    <br />
    <hr />
    <br />
    <p class="body">
      ショート:
      <br />&emsp;19,800円(税込)
      <br /><br />
      ミディアム:
      <br />&emsp;22,000円(税込)
      <br /><br />
      ロング:
      <br />&emsp;24,200円(税込)
      <br />
    </p>
    <p style=" font-size: 1rem; color: #383838;">
      ＊シャンプー、ブロー、カット込み
    </p>
    <br />
    <h3>メンズショート</h3>
    <img
      src="https://images.success-salon.haton14.com/straight/straight-short-men.avif"
      alt="メンズの画像"
      style="display: block;"
      width="70%"
    />
    <br />
    <h3>ショート</h3>
    <img
      src="https://images.success-salon.haton14.com/straight/straight-short.avif"
      alt="ショートの画像"
      style="display: block;"
      width="70%"
    />
    <br />
    <h3>セミロング</h3>
    <img
      src="https://images.success-salon.haton14.com/straight/straight-semi-long-1.avif"
      alt="セミロング1の画像"
      style="display: block;"
      width="70%"
    />
    <br />
    <img
      src="https://images.success-salon.haton14.com/straight/straight-semi-long-2.avif"
      alt="セミロング2の画像"
      style="display: block;"
      width="70%"
    />
    <br />
    <h3>ロング</h3>
    <img
      src="https://images.success-salon.haton14.com/straight/straight-long-1.avif"
      alt="ロング1の画像"
      style="display: block;"
      width="70%"
    />
    <br />
    <img
      src="https://images.success-salon.haton14.com/straight/straight-long-2.avif"
      alt="ロング2の画像"
      style="display: block;"
      width="70%"
    />
    <Footer />
  </main>
</Layout>
<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 100ch;
  }
  .h2-body {
    color: #383838;
  }
  .body {
    font-size: 1rem;
    color: #383838;
    font-weight: bold;
  }
</style>
