---
import Layout from "../../layouts/Layout";
import Footer from "../../components/Footer";
---

<Layout title="着付け・成人式">
  <main>
    <a href="/">
      <h3>Topへ</h3>
    </a>
    <h2 class="h2-body">着付け・成人式</h2>
    <img
      src="https://images.success-salon.haton14.com/dressing/20th.avif"
      alt="娘の成人式の画像"
      style="display: block;"
      width="50%"
    />
    <p class="body">我が家の次女です</p>
    <br /><br />

    <p class="body">
      振袖着付け、ヘアアップ、メイク
      <br />
      3点セット: 22,000円(税込)
    </p>
    <img
      src="https://images.success-salon.haton14.com/dressing/dressing1.avif"
      alt="成人式1の画像"
      style="display: block;"
      width="70%"
    />
    <br />
    <img
      src="https://images.success-salon.haton14.com/dressing/dressing2.avif"
      alt="成人式2の画像"
      style="display: block;"
      width="70%"
    />
    <br />
    <img
      src="https://images.success-salon.haton14.com/dressing/dressing3.avif"
      alt="成人式3の画像"
      style="display: block;"
      width="70%"
    />
    <br />
    <Footer />
  </main>
</Layout>
<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 100ch;
  }
  .h2-body {
    color: #383838;
  }
  .body {
    font-size: 1rem;
    color: #383838;
    font-weight: bold;
  }
</style>
