---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="美容室サクセス">
    <main>
        <a href="/">
            <h3>Topへ</h3>
        </a>
        <h2 class="h2-body">サロン・アクセス情報</h2>
        <img
            src="salon.png"
            alt="Salonの画像"
            style="display: block;"
            width="100%"
        />
        <img
            src="room.png"
            alt="Roomの画像"
            style="display: block;"
            width="100%"
        />
        <p class="body">ほにゃほにゃ</p>
        <a href="/">
            <h3>Topへ</h3>
        </a>
    </main>
</Layout>
<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 100ch;
    }
    .h2-body {
        color: #383838;
    }
    .body {
        font-size: 1rem;
        color: #383838;
        font-weight: bold;
    }
</style>
